{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block header %}
    <div class="entry-div-page flex flex-column flex-lg-row justify-content-around my-5 pt-5">
        <h1 class="section-heading text-center">Moderer les commentaires</h1>
    </div>
{% endblock %}

{% block content %}
<div class="container entry-div-page my-5">

    <table class="table table-striped">
        <div class="entry-div flex flex-column flex-lg-row justify-content-around align-content-start align-lg-items-center">
            <h2 class="section-heading text-uppercase">Liste des commentaires signalés</h2>
        </div>
        <thead>
            <th>Chapitre</th>
            <th>Auteur</th>
            <th>Commentaire</th>
            <th>Actions</th>
        </thead>
        <tbody>
        {% for moderate in moderates %}
                <tr>
                    <td>{{ moderate.post_id }}</td>
                    <td>{{ moderate.author }}</td>
                    <td>{{ moderate.comment }}</td>
                    <td>
                        <a href="/admin/deleteComment/{{ moderate.id }}" class="btn btnSupp btn-danger mr-3">Supprimer</a>
                        <a type="button" type="submit" href="/admin/restaure/{{ moderate.id }}" class="btn btnAccept btn-success" aria-label="Close">
                            <span aria-hidden="true">Accepter</span>
                        </a>
                    </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
