{% extends "base.html.twig" %}
{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block header %}
    <div class="entry-div-page flex flex-column flex-lg-row justify-content-around my-5 pt-5">
        <h1 class="section-heading text-center">Modifier l'article</h1>
    </div>
{% endblock %}

{% block content %}
<div class="container entry-div-page my-3">
<form class="comment-form" method="post" action="{{ postModif }}">
        <div class=" form-group">
            <label for="titre">Titre de l'article</label>
            <input type="text" class="form-control" value="{{ post.titre|raw|nl2br }} " name="titre" rows="1" class="text-dark" required />
        </div>

        <div class=" form-group">
            <label for="description">Description de l'article</label>
            <textarea type="text" class="form-control" name="description" class="text-dark" required >{{ post.description|raw|nl2br }}</textarea>
        </div>

        <div class=" form-group">
            <label for="contenu">Contenu de l'article</label>
            <textarea id="mytextarea" name="contenu" required>{{ post.contenu|raw|nl2br }}</textarea>
        </div>
    <footer class="entry-footer flex flex-column flex-lg-row justify-content-end align-content-start align-lg-items-center">
        <input type="submit" value="Modifier" class="read-more order-2" />
    </footer><!-- .entry-footer -->
 </form>
</div>

{% endblock %}
