{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block header %}
    <h1 class="site-title"><a rel="home">Les articles</a></h1>
{% endblock %}

{% block content %}
    {%  for post  in posts|reverse %}
        <div class="container single-page">
            <div class="row">
                <div class=" col-12 col-lg-12">
                    <div class="content-wrap">

                        <header class="entry-header">
                            <div class="posted-date">
                                {{ post.created_at }}
                            </div><!-- .posted-date -->

                            <h2 class="entry-title"> {{ post.titre|raw  }}</h2>
                        </header><!-- .entry-header -->
                        <div class="entry-content">
                            <p>{{ post.description|raw  }}</p>
                        </div><!-- .entry-content -->

                        <footer class="entry-footer flex flex-column flex-lg-row justify-content-end align-content-start align-lg-items-center">
                            <a class="read-more order-2" href="posts/read/{{ post.id }}">lire la suite</a>
                        </footer><!-- .entry-footer -->
                    </div><!-- .content-wrap -->


                </div><!-- .col -->

            </div><!-- .row -->
        </div><!-- .container -->

    {%  endfor %}


{% endblock %}

