{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="../css/style.css">
{% endblock %}

{% block content %}
<div class="outer-container">

        <div class="container single-page blog-page">
            <div class="row">
                <div class="col-12">
                    <div class="content-wrap">
                        <header class="entry-header">
                            <div class="posted-date">
                                {{ post.created_at }}
                            </div><!-- .posted-date -->

                            <h2 class="entry-title">{{ post.titre|nl2br  }}</h2>

                        </header><!-- .entry-header -->

                        <div class="entry-content">
                            <p>{{ post.contenu|nl2br }}</p>
                            {% if sessionItems.session == true %}
                                <footer class="entry-footer flex flex-column flex-lg-row justify-content-around align-content-start align-lg-items-center">
                                    <a class="read-more order-2" href="/admin/modifyChapter/{{ post.id }}">Modifier</a>
                                    <a class="read-more del-btn order-2" href="/admin/deletePost/{{ post.id }}">Supprimer</a>
                                </footer><!-- .entry-footer -->
                            {% endif %}

                        </div><!-- .entry-content -->



                        <footer class="entry-footer flex flex-column flex-lg-row justify-content-end align-content-start align-lg-items-center">
                            <div class="comments-count order-1 order-lg-3">
                                <a href="#end-page" class="comment-size">{{ comments|length }} Commentaires</a>
                            </div><!-- .comments-count -->
                        </footer><!-- .entry-footer -->
                    </div><!-- .content-wrap -->
                    <div class="comments-form">
                        <div class="comment-respond">
                            <h3 class="comment-reply-title">Laisser un commentaire</h3>
                            <form class="comment-form" method="post" action="{{ addComment }}">
                                <input type="text" placeholder="Nom" name="author" required>
                                <textarea rows="8" cols="6" placeholder="Commentaire" name="comment" required></textarea>
                                <input  class="btn-sub pull-right" type="submit" value="Envoyer">
                            </form><!-- .comment-form -->

                        </div><!-- .comment-respond -->
                    </div><!-- .comments-form -->

                    <div id="end-page" class="content-area">
                        <div class="post-comments">
                            <h3 class="comments-title">Commentaires</h3>

                            <ol class="comment-list">
                                {% for comment in comments %}
                                    <li class="comment my-2">
                                        <div class="comment-body flex justify-content-between">
                                            <div class="comment-wrap">
                                                <div class="comment-author flex flex-wrap align-items-center">
                                                    <span class="fn">
                                                        <a>{{ comment.author|raw  }}</a>
                                                    </span><!-- .fn -->

                                                    <span class="comment-meta">
                                                        <a>{{ comment.comment_date }}</a>
                                                    </span><!-- .comment-meta -->
                                                </div><!-- .comment-author -->

                                                <p class='comment-wrap-p'>{{ comment.comment|nl2br }}</p>
                                                <input class=" btn-signal btn-danger" type="submit" data-id="{{ comment.id }}" value="signaler">

                                            </div><!-- .comment-wrap -->
                                        </div><!-- .comment-body -->
                                    </li><!-- .comment -->
                                {% endfor %}
                            </ol><!-- .comment-list -->
                        </div><!-- .post-comments -->

                    </div><!-- .content-area -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .outer-container -->
{% endblock %}
